{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="mx-auto max-w-lg my-3 mb-8">
        <h1 class="text-3xl font-semibold text-slate-700 mx-1">SMS Phone Verification</h1>
        <h2 class="text-xl font-semibold text-slate-700 mx-1 mt-4">2. Submit the Verification Code</h2>
        <p class="mt-1 text-base text-slate-500 mx-1 mb-0">Submit the verification code in form below that you received by SMS to complete the registration process.</p>
    </div>

    <div class="row">
        <form action="/"
              method="post"
              class="bg-white mx-auto max-w-lg border-2 border-slate-100 rounded-md py-6 px-8 grid grid-cols-1 gap-3 drop-shadow-sm focus:shadow-inner pb-8">
            <div class="my-2">
                <label for="code" class="block mb-2 font-medium text-gray-500">Verification code:</label>
                <input type="text" id="code" name="code" value="" class="w-full border-slate-200 rounded-md p-2 pl-3 border-2">
            </div>
            <input type="submit" name="submit" value="Request Verification Code" class="border-2 bg-indigo-600 text-white font-medium rounded-md p-3 py-2 mt-0">
        </form>
    </div>
{% endblock %}